.buttonarea {
  text-align: center;
  background-color: #F1EFEF;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Logo styles*/
.logo-box {
  box-shadow: 0 0 0 5px grey;
  margin: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 10px; /* You can adjust the padding to your preference */
  /* display: inline-block; */
}

.logo-box img {
  display: block; /* To remove any extra space below the image */
  margin: 0 auto; /* Center the image horizontally within the box */
}

/* Header tab styles */
.tab {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.logo {
    display: block;
    margin: 20px auto;
    max-width: 150px; /* Adjust the max-width as needed */
}
.buttons {
    margin-top: 10px;
}
.buttons a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px; /* Add padding to create boxes around the buttons */
    border: 2px solid #fff; /* Add a border to create boxes */
    margin: 0 20px;
    border-radius: 5px; /* Add rounded corners for a nicer look */
}
.buttons a:hover {
    background-color: #fff;
    color: #333;
}

/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF1E4;
}

header {
  margin-top: 10px ;
  margin-right: 10px ;
  margin-left: 10px ;
  background-color: #CCC8AA;
  color: #191717;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

main {
  padding: 10px;
}

.home {
  text-align: justify;
  background-color: #F1EFEF;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Center-align the button container */
.button-container {
  text-align: center;
  margin-top: 0px; /* Add some space at the top if needed */
}
  
  /* Base Button Styles */
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #CCC8AA;
  color: #191717;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  text-decoration: none; /* Remove default link underline */
}
  
  /* Hover Effect */
.custom-button:hover {
  background-color: #191717;
  color: #CCC8AA;
  transform: scale(1.05); /* Slight zoom effect on hover */
}
  
/* Focus (Keyboard Navigation) */
.custom-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.8); /* Light blue shadow on focus */
}